@model CoreAndFood.Data.Models.Category
@{
    ViewData["Title"] = "CategoryGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CategoryGet</h2>

@using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post))
{
    <label>Category ID</label>
    <br />
    @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryID, "", new { @style = "color:red;" })
    <br />
    <label>Category Name</label>
    <br />
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName, "", new { @style = "color:red;" })
    <br />
    <label>Category Description</label>
    <br />
    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Category Update</button>
}

