@model List<mvcSadikTuranRazor10.video.Models.Urun>
@{
    ViewBag.Title = "UrunListele";
}

<h2>Urunler</h2>

<table class="table table-striped table-dark table-hover">
    <thead>

        <tr>
            
            <th scope="col">Ürün Adı</th>
            <th scope="col">Ürün Fiyat</th>
            <th scope="col">Ürün Açıklama</th>
            <th scope="col">Ürün Satış Durumu</th>
            <th scope="col">Ürün Detay</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urun in Model)
        {
            <tr>
            
                <td>@urun.UrunADI</td>
                <td>@urun.Fiyat</td>
                <td>@urun.Acıklama</td>
                <td>@urun.Satistami</td>
                <td><a href="/Home/Details/?urunid=@urun.UrunID" class="btn btn-warning">Ürün Detay</a></td>
                @*<td>@Html.ActionLink("Urunu İncele", "Details", new { @class = "btn btn-warning" }, new { @urun = urun.UrunID })</td>*@ 
            </tr>


        }
    </tbody>
</table>